name: Rust

on:
  workflow_dispatch:
  push:
    branches: [forest]
  pull_request:
    branches: [forest]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: lscpu
      - uses: actions/checkout@v3
      - uses: ./
        with:
          cache-key: ${{ runner.os }}-sccache
      - run: cargo build -v
        env:
          CC: "/tmp/sccache/sccache clang"
          CXX: "/tmp/sccache/sccache clang++"
